body, html {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.bg {
    background-image: url('../images/mountains_background_adj.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}

#navigation {
    overflow: hidden;
}

#navigation.sticky {
    position: fixed;
    z-index: 90;
    background: rgb(84,110,122,.5);
    top: 0;
    width: 100%;
}

#navigation ul {
    text-align: center;
    word-spacing: 20px;
}

h1, h2, h3 {
    font-family: 'Coda', cursive;
    font-size: 4em;
    letter-spacing: 20px;
}

div h1, h2, h3, div h4, i.large, a.btn-large {
    color: #DBDEDA;
}

h4 {
    letter-spacing: 5px;
    margin-bottom: 30px;
}

a.btn-large {
    border: 2px solid #0D1C57;
    color: #DBDEDA;
}

#header {
    padding-top: 230px;
    margin: auto;
    text-align: center;
}

.heading {
    margin: auto;
    text-align: center;
}

div.icon-container {
    margin: 10px auto;
}

i.connect-icon {
    color: #8c8982;
    float: left;
    margin: 0 30px;
}

div#sec1 {
    background-color: #DBDEDA;
}

div#sec1 h3 {
    color: #948866;
}

div#sec2 {
    background-color: #62533D;
}

div#sec3 {
    background-color: #DBDEDA;
}

div#sec3 h3 {
    color: #4E8FD5;
}


#form-submit {
    background-color: #8c8982;
}


.content {
    padding: 16px;
}

.sticky + .content {
    padding-top: 60px;
}

.flipped {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.contact-imgs {
    float: left;
}

.card, .contact-row, .about-row {
    margin: 70px auto;
}

.page-footer {
    background-color: #0D1C57;
}

#aboutMeImg {
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

i#down {
    display: none;
}

.tech-icons i {
    font-size: 50px;
    color: black;
}

/* Media Queries */

@media screen and (max-width: 460px) {
    ul.buttons {
        display: none;
    }

    i#down {
        display: inherit;
    }

    #header {
        padding-top: 80px;
    }

}